@import "tailwindcss";

@font-face {
  font-family: regularFont;
  src: url(/fonts/FiraGO-Regular.otf);
}

body,
p,
a,
::placeholder,
input,
textarea,
li,
ul,
ol,
button {
  font-family: regularFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: regularFont;
  text-transform: uppercase;
}

.showYScroll::-webkit-scrollbar {
  width: 5px;
}
.showXScroll::-webkit-scrollbar {
  height: 5px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 10px;
}